:root {
    --color-primary: #f7405f;
    --color-primary-h: 348;
    --color-primary-s: 91%;
    --color-primary-l: 61%;

    --color-secondary: #402141;
    --color-secondary-h: 300;
    --color-secondary-s: 33%;
    --color-secondary-l: 19%;

    --color-tertiary: #fcc77f;
    --color-tertiary-h: 35;
    --color-tertiary-s: 97%;
    --color-tertiary-l: 75%;
    --grey-500: #1c1c1c;
    --grey-300: #6d6d6d;

    --font-primary: "Rubik", sans-serif;
    --font-secondary: "Lato", sans-serif;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-4: 32px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}