:root {
    --color-primary: #6ddbb4;
    --color-primary-h: 348;
    --color-primary-s: 91%;
    --color-primary-l: 61%;

    --color-secondary: #070727;
    --color-secondary-h: 300;
    --color-secondary-s: 33%;
    --color-secondary-l: 19%;

    --color-tertiary: #FFF1E3;
    --color-tertiary-h: 35;
    --color-tertiary-s: 97%;
    --color-tertiary-l: 75%;

    --color-error: #f52d2d;

    --font-primary: "Rubik", sans-serif;
    --font-secondary: "Lato", sans-serif;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-4: 32px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    overflow: auto;
    display: flex; 
    flex-direction: column;

    background-color: var(--color-tertiary);
}