/* Global style */ 
:root {
    --primary-color: #0296b1;
    --secondary-color: #E0E0E0;
    --background-color: #0A1A2A;

    background-color: var(--background-color);
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

html, body {
    margin: 0;
    padding: 0;
}

main.index, main.article {
    color: var(--secondary-color);
    max-width: 900px;
    min-height: calc(100vh - 2rem * 2);
    padding: 2rem;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.60;
    font-family: 'Playfair Display', serif;
}

p {
    line-height: 1.4;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}


/* Parts style */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


/* Index */
main.index {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main.index a:has(article) {
    color: var(--secondary-color);
}

main.index header h1, main.index header h2 {
    margin: 0;
}

main.index header img {
    display: none;
}

main.index section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    flex-grow: 1;
}

main.index article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: start;
}

main.index article figure {
    margin: 0;
    flex-shrink: 1;
    width: 50%;
    max-width: 400px;
    position: relative;
    height: 150px;
}

main.index article figure img {
    filter: grayscale(1) contrast(2);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

main.index article figure::after {
    content: "";
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: var(--primary-color);
}

main.index article div {
    order: 0;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 362px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

main.index article div time {
    order: -1;
    text-transform: capitalize;
    font-family: monospace;
}

main.index article div h3 {
    margin: 0;
}

main.index article div p {
    margin-top: 1rem;
}

/** Article **/
main.article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


main.article header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main.article header img {
    display: none;
}

main.article header h1, main.article header h2 {
    margin: 0;
    line-height: 1.4;
}

main.article article time {
    font-family: monospace;
}

main.article article figure {
    margin: 0;
    width: 100%;
    height: 300px;
    position: relative;
}

main.article figure::after {
    content: "";
    border-radius: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: var(--primary-color);
}

main.article article figure img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) contrast(2);
}

main.article article section img {
    display: block;
    border-radius: 1rem;
    margin: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}