@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-primary: #f7405f;
    --color-primary-h: 348;
    --color-primary-s: 91%;
    --color-primary-l: 61%;

    --color-secondary: #402141;
    --color-secondary-h: 300;
    --color-secondary-s: 33%;
    --color-secondary-l: 19%;

    --color-tertiary: #fcc77f;
    --color-tertiary-h: 35;
    --color-tertiary-s: 97%;
    --color-tertiary-l: 75%;
    --grey-500: #1c1c1c;
    --grey-300: #6d6d6d;

    --font-primary: "Rubik", sans-serif;
    --font-secondary: "Lato", sans-serif;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-4: 32px;
}


body, #storybook-root {
    margin: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--grey-500);

    /* background-color: white; */
    background: linear-gradient(to top left, #402141ff 0% 9%, #f7405fff 9% 17%, #fcc77fff 17% 22%, #ffffffff 22% 100%);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sb-show-main.sb-main-padded {
    display: flex;
    padding: 0;
}
