@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-primary: #f7405f;
    --color-primary-h: 348;
    --color-primary-s: 91%;
    --color-primary-l: 61%;

    --color-secondary: #402141;
    --color-secondary-h: 300;
    --color-secondary-s: 33%;
    --color-secondary-l: 19%;

    --color-tertiary: #fcc77f;
    --color-tertiary-h: 35;
    --color-tertiary-s: 97%;
    --color-tertiary-l: 75%;
    --grey-500: #1c1c1c;
    --grey-300: #6d6d6d;

    --font-primary: "Rubik", sans-serif;
    --font-secondary: "Lato", sans-serif;

    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --spacing-4: 32px;
}


body,
#storybook-root {
    margin: 0;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--grey-500);

    background: linear-gradient(-50deg, var(--color-secondary) 0 120px, var(--color-primary) 120px 135px, var(--color-tertiary) 135px 150px, #ffffffff 150px);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    display: block;
    background: linear-gradient(210deg, #ffffff 0 70px, var(--color-primary) 70px 85px, var(--color-tertiary) 85px 100px, #ffffffff 100px);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

.sb-show-main.sb-main-padded {
    display: flex;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}